<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- TODO: migrate to PackageReference (never) -->
  <package id="Newtonsoft.Json" version="1.0.1" />
  <package id="SharpZipLib" version="0.86.0" />
  <package id="log4net" version="1.2.10" />
  <package id="Microsoft.Data.OData" version="5.0.0" />
  <package id="MySql.Data" version="6.2.0" />
  <package id="jQuery" version="1.4.4" />
  <package id="YamlDotNet" version="3.2.0" />
</packages>
